{% extends 'base.html' %}

{% load static %}

{% block title %} | Cart {% endblock %}

{% block content %}
    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Cart</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Cart</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							{% for item in order.get_cart_items %}
						      <tr class="text-center">
						        
						        
						        <td class="image-prod"><img class="img" src="{{ item.product.photo_main.url }}" alt="" /></td>
						        
						        <td class="product-name">
						        	<h3>{{ item.product.name }}</h3>
						        	<p>{{ item.product.description }}</p>
						        </td>
						        
						        <td class="price">₹{{ item.product.price }}</td>
						        
								<td class="total">₹{{ item.product.price }}</td>

								<td class="product-remove"><a href="{% url 'delete_from_cart' item.id %}"><span class="icon-close"></span></a></td>
								
						      </tr><!-- END TR-->
							{% endfor %}	
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
						{% if order.get_cart_total %}
							<h3>Cart Totals</h3>
							<p class="d-flex">
								<span>Subtotal</span>
								<span>₹{{ order.get_cart_total }}</span>
							</p>
							<p class="d-flex">
								<span>Delivery</span>
								<span>₹0.00</span>
							</p>
							<p class="d-flex">
								<span>Discount</span>
								<span>₹0.00</span>
							</p>
							<hr>
							<p class="d-flex total-price">
								<span>Total</span>
								<span>₹{{ order.get_cart_total }}</span>
							</p>
						{% endif %}	
    				</div>
    				<p class="text-center"><a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
				
    		</div>
			</div>
		</section>

    

{% endblock %}