{% extends 'base.html' %}

{% load static %}

{% block title %} | Registers{% endblock %}

{% block content %}


<section class="ftco-appointment">
			<div class="overlay"></div>
    		<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
    			<div  class="col-md-6 appointment ftco-animate">
	    			<h3 class="mb-3">Sign Up</h3>
                    {% include 'accounts/_alerts.html' %}
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                            <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" name="password2" class="form-control" required>
                        </div>
                            <input type="submit" value="Register" class="btn btn-secondary btn-block">
                    </form>
	    		</div>    			
    		</div>
    	</div>
</section>

{% endblock content %}