{% extends 'base.html' %}

{% load static %}

{% block title %} | Checkout {% endblock %}

{% block content %}
    <section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Checkout</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Checout</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 ftco-animate">
	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment</h3>
                  


                 
	          			<form action="{% url 'charge' %}" method="post">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-description="A Django Charge"
                            data-amount="{{ total.get_cart_total }}"
                            data-currency = "inr"
                            data-locale="auto">
                    </script>
                  </form>
                </div>
              </div>
            </div>  
          

        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}