{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} | Menu{% endblock %}

{% block content %}
   

	

    <section class="home-slider owl-carousel">
      
      <div class="slider-item" style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Our Menu</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Menu</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    

<section class="ftco-menu">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          		<div class="col-md-7 heading-section text-center ftco-animate">
          			<span class="subheading">Discover</span>
            		<h2 class="mb-4">Menu</h2>
            		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          		</div>
        	</div>
    		<div class="row d-md-flex">
	    		<div class="col-lg-12 ftco-animate p-md-5">
		    	      <div class="col-md-12 nav-link-wrap mb-5">
		        	    <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		            	  <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Main Dish</a>

		            	  <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Beverages</a>

		            	  <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Deserts</a>
		            
                          <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Coffee</a>
  
					    </div>
		         	  </div>
		          	<div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
		          
				      	<div class="row">
						  {% for menu in menus %}
		              		<div class="col-md-4 text-center">
		              			<div class="menu-wrap">
		              				<img class="card-img-top" src="{{ menu.photo_main.url }}" alt="">
		              				<div class="text">
		              					<h3><a href="{% url 'single_product' menu.id %}">{{ menu.name }}</a></h3>
		              					<p>{{ menu.description }}</p>
		              					<p class="price"><span>₹{{ menu.price }}</span></p>
		              					<p><a href="{% url 'single_product' menu.id %}" class="btn btn-primary btn-outline-primary">Buy</a></p>
		              				</div>
		              			</div>
		              		</div>
		              	  {% endfor %}	
		              	</div>
		            </div>

		            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
		                <div class="row">
						
							{% for beverage in beverages %}
		              		<div class="col-md-4 text-center">
		              			<div class="menu-wrap">
		              				<img class="card-img-top" src="{{ beverage.photo_main.url }}" alt="">
		              				<div class="text">
		              					<h3><a href="{% url 'single_product' beverage.id %}">{{ beverage.name }}</a></h3>
		              					<p>{{ beverage.description }}</p>
		              					<p class="price"><span>₹{{ beverage.price }}</span></p>
		              					<p><a href="{% url 'single_product' beverage.id %}" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
		              				</div>
		              			</div>
		              		</div>
							{% endfor %} 
		              	</div>
		            </div>

		              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
		                <div class="row">
						{% for desert in deserts %}
		              		<div class="col-md-4 text-center">
		              			<div class="menu-wrap">
		              				<img class="card-img-top" src="{{ desert.photo_main.url }}" alt="">
		              				<div class="text">
		              					<h3><a href="{% url 'single_product' desert.id %}">{{ desert.name }}</a></h3>
		              					<p>{{ desert.description }}</p>
		              					<p class="price"><span>₹{{ desert.price }}</span></p>
		              					<p><a href="{% url 'single_product' desert.id %}" class="btn btn-primary btn-outline-primary">Add to cart</a></p>
		              				</div>
		              			</div>
		              		</div>
						{% endfor %}	  
    		       	</div>
             	</div>  

                 <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
		                <div class="row">
						{% for coffee in coffees %}
		              		<div class="col-md-4 text-center">
		              			<div class="menu-wrap">
		              				<img class="card-img-top" src="{{ coffee.photo_main.url }}" alt="">
		              				<div class="text">
		              					<h3><a href="{% url 'single_product' coffee.id %}">{{ coffee.name }}</a></h3>
		              					<p>{{ coffee.description }}</p>
		              					<p class="price"><span>₹{{ coffee.price }}</span></p>
		              					<p><a href="{% url 'single_product' coffee.id %}" class="btn btn-primary btn-outline-primary"></a></p>
		              				</div>
		              			</div>
		              		</div>
						{% endfor %}	  
    		       	</div>
             	</div> 
			</div>	
    	</div>
    </section>

    
{% endblock %}